* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IranSansX";
  }

body {
    color: #102E62;
}

  ul {
    list-style-type: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
  }
  header nav ul {
    display: flex;
     align-content: center;
     gap: 15px;
  }
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #3158BD;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
  }
  header nav ul li .contact-us-link {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .main-banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 600px;
    color: white;
  }
  .main-banner .sofa-img {
    position: absolute;
    width: 650px;
    left: 0;
    top: 100px;
  }
  .main-banner .sofa-img .sofa {
    width: 100%;
  }
  .main-banner .sofa-img .isolation-mode {
    position: absolute;
    width: 160px;
    top: -70px;
    left: 20px;
  }
  
  .main-banner .banner-content {
    margin-top: 80px;
    width: 750px;
    height: 465px;
    padding-right: 60px;
    background-image: url("./assets/images/banner-rectangle.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .main-banner .banner-content .banner-title {
    font-size: 30px;
    font-weight: bold;
  }
  .main-banner .banner-content .banner-title>p {
    font-size: 26px;
    font-weight: 600;
  }
  .main-banner .banner-content .banner-description {
    width: 450px;
    margin-top: 20px;
    line-height: 38px;
    text-align: justify;
  }
  .main-banner .banner-content .banner-title .tashilat {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
  }
  .main-banner .banner-content .banner-title .tashilat .price {
    color: #CCA34C;
    margin-left: 5px;
  }
  footer {
    background-color: #102E62;
    padding: 40px 60px;
  }
  footer img {
    width: 200px;
  }
  footer .copy-right {
    color: #c7c7c7;
    font-size: 14px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #747474;
  }
  
  @media screen and (max-width: 1200px) {
    .main-banner {
      min-height: 500px;
      padding-bottom: 20px;
    }
    .main-banner .sofa-img {
      top: 150px;
      width: 50%;
    }
    .main-banner .sofa-img .isolation-mode {
      width: 120px;
    }
  }
  @media screen and (max-width: 992px) {
    .main-banner .banner-content .banner-description {
      width: 400px;
      font-size: 16px;
    }
    .main-banner .banner-content .banner-title {
      width: 50%;
      line-height: 40px;
    }
    .main-banner .banner-content .banner-description {
      width: 50%;
    }
  }
  @media screen and (max-width: 768px) {
    .main-banner {
      flex-direction: column;
      height: auto;
      padding-bottom: 160px;

    }
    .main-banner .banner-content {
      width: 100%;
      height: 400px;
      margin-top: 0;
      padding-top: 40px;
      justify-content: flex-start;
      background-size: 780px 100%;
    }
    .main-banner .banner-content .banner-title {
      width: 80%;
      line-height: 35px;
    }
    main-banner .banner-content .banner-title .tashilat {
      margin-bottom: 0;
    }
    .main-banner .banner-content .banner-description {
      width: 80%;
      font-size: 16px;
      line-height: 30px;
    }
    .main-banner .sofa-img {
      position: absolute;
      width: 90%;
      height: 300px;
      max-width: 450px;
      left: 50%;
      top: 280px;
      transform: translateX(-50%);
    }
    .main-banner .sofa-img .isolation-mode {
      width: 80px;
      top: -0px;
    }
  }
  @media screen and (max-width: 600px) {
    header {
      padding: 20px;
    }
    header>img {
      width: 100px;
    }
    header nav ul {
      align-items: flex-start;
    }
    header nav ul li a {
      padding: 0;
      background-color: transparent;
      color: #3158BD;
    }
    header nav ul li a img {
      display: none;
    }
    .main-banner {
      padding-bottom: 40px;
    }
    .main-banner .banner-content {
      padding-top: 20px;
      padding-right: 30px;
      height: 550px;
      background-size: 780px 100%;
    }
    .main-banner .banner-content .banner-title {
      margin-right: 0;
      padding-top: 20px;
    }
    .main-banner .banner-content .banner-description {
      line-height: 25px;
    }
    .main-banner .sofa-img {
      top: 370px;
      width: 350px;
    }
  }
  @media screen and (max-width: 400px) {
    .main-banner .banner-content .banner-title {
      font-size: 22px;
      line-height: 30px;
    }
    .main-banner .banner-content .banner-title .tashilat>p {
      font-size: 18px;
    }
    .main-banner .banner-content .banner-title>p {
      font-size: 18px;
    }
    .main-banner .banner-content .banner-description {
      font-size: 14px;
    }
    .main-banner .sofa-img {
      top: 360px;
      width: 300px;
    }
    .main-banner .sofa-img .isolation-mode {
      width: 60px;
      top: -20px;
    }
    footer {
      padding: 40px 20px;
    }
  }

  .stores-lists-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
  }
  .stores-lists-container .list-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
    margin-bottom: 20px;
  }
  .stores-lists-container .stores-top {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 80px;
    margin-bottom: 40px;
  }
  .stores-lists-container .stores-bottom {
    padding: 0 80px;
  }
  .stores-lists-container ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .stores-lists-container ul li {
    display: flex;
    width: 400px;
    margin-bottom: 40px;
  }
  .stores-lists-container ul li .store-title {
    width: 300px;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid lightgray;
  }
  .stores-lists-container ul li .address {
    margin-bottom: 15px;
  }
  .stores-lists-container ul .red-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 8px;
    background-color: red;
  }
  .stores-lists-container .stores-top,.stores-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .stores-lists-container .counter-image-container {
    background-image: url("./assets/images/rectangle-right.png");
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 20px;
    width: 40%;
    max-width: 600px;
    min-width: 500px;
  }
  .stores-lists-container .stores-top .counter-image-container {
    padding-left: 0;
  }
  .stores-lists-container .stores-bottom .counter-image-container {
    padding-right: 0;
  }
  .stores-lists-container .counter-image-container img {
    width: 100%;
    height: 370px;
  }


  @media screen and (max-width: 1200px) {
    .stores-lists-container .stores-top,.stores-bottom {
      flex-direction: column;
      align-items: center;
    }
    .stores-lists-container .stores-bottom {
      flex-direction: column-reverse;
    }
  }

  @media screen and (max-width: 768px) {
    .stores-lists-container ul {
      padding: 0 40px;
    }
    .stores-lists-container ul li {
      width: 100%;
    }
    .stores-lists-container ul li>div  {
      width: 100%;
    }
    .stores-lists-container ul li .store-title {
      width: 100%;
    }
    
    .stores-lists-container .stores-bottom {
      padding: 0px;
    }
    .stores-lists-container .counter-image-container {
      width: 80%;
      height: 300px;
      min-width: 400px;
    }
    .stores-lists-container .counter-image-container img {
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .stores-lists-container .list-header {
      padding-right: 10px;
    }
    .list-header img {
      width: 30px;
    }
    .list-header h1 {
      font-size: 20px;
      padding-left: 10px;
    }
    .stores-lists-container .stores-top {
      padding: 0 ;
    }
    .stores-lists-container .counter-image-container {
      width: 80%;
      height: 300px;
      min-width: 300px;
    }
  }  


  
  .purchase-plans {
    background-color: #102E62;
    color: #102E62;
    padding: 80px 50px;
    overflow: hidden;
  }
  @media screen and (max-width: 600px) {
    .purchase-plans {
      padding: 90px 20px;
    }
  }
  .purchase-plans .plan {
    position: relative;
    background-color: white;
    padding: 60px 40px;
    border-radius: 12px;
  }
  @media screen and (max-width: 600px) {
    .purchase-plans .plan {
      padding: 40px 20px;
    }
  }
  .purchase-plans .plan h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 600px) {
    .purchase-plans .plan h1 {
      font-size: 24px;
    }
  }
  @media screen and (max-width: 400px) {
    .purchase-plans .plan h1 {
      font-size: 20px;
    }
  }
  .purchase-plans .plan ul li div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 30px;
  }
  .purchase-plans .plan ul li div .item-number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E81E1E;
    border: 2px solid #102E62;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    padding-top: 2px;
    font-weight: bold;
  }
  .purchase-plans .plan ul li div p {
    font-size: 20px;
  }
  @media screen and (max-width: 1200px) {
    .purchase-plans .plan ul li div p {
      font-size: 16px;
    }
  }
  .purchase-plans .plan .purchase-paint {
    width: 300px;
    aspect-ratio: 1;
    position: absolute;
    top: -50px;
    left: -40px;
  }
  @media screen and (max-width: 992px) {
    .purchase-plans .plan .purchase-paint {
      width: 200px;
      top: -80px;
    }
  }
  @media screen and (max-width: 600px) {
    .purchase-plans .plan .purchase-paint {
      width: 120px;
      top: -80px;
    }
  }
  .purchase-plans .plan .purchase-plant {
    position: absolute;
    bottom: -20px;
    left: 60px;
    z-index: 10;
  }
  @media screen and (max-width: 1200px) {
    .purchase-plans .plan .purchase-plant {
      bottom: -80px;
      left: 20px;
      width: 80px;
    }
  }
  @media screen and (max-width: 600px) {
    .purchase-plans .plan .purchase-plant {
      width: 60px;
    }
  }
 
  
@font-face {
    font-family: "IranSansX";
    src: url("./assets/fonts/woff/IRANSansXFaNum-Regular.woff") format("woff"),
         url("./assets/fonts/woff2/IRANSansXFaNum-Regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "IranSansX";
    src: url("./assets/fonts/woff/IRANSansXFaNum-Medium.woff") format("woff"),
         url("./assets/fonts/woff2/IRANSansXFaNum-Medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "IranSansX";
    src: url("./assets/fonts/woff/IRANSansXFaNum-DemiBold.woff") format("woff"),
         url("./assets/fonts/woff2/IRANSansXFaNum-DemiBold.woff2") format("woff2");
    font-weight: 600;
}
@font-face {
    font-family: "IranSansX";
    src: url("./assets/fonts/woff/IRANSansXFaNum-Bold.woff") format("woff"),
         url("./assets/fonts/woff2/IRANSansXFaNum-Bold.woff2") format("woff2");
    font-weight: 700;
}